//set text color based on background
@function set-text-color($color) {
    @if(lightness($color) > 0) {
        @return $black-color;
    }

    @else {
        @return $light-color;
    }
}

//set background & text color
@mixin set-background($color) {
    background-color: $color;
    color: set-text-color($color);
}

// Margin and Padding

$spaceamounts:(1, 2, 3, 4, 5);

@each $space in $spaceamounts {

    //all around margin
    .m-#{$space} {
        margin: #{$space}rem;
    }

    //vertical margin
    .my-#{$space} {
        margin: #{$space}rem 0;
    }

    //all around padding
    .p-#{$space} {
        padding: #{$space}rem;
    }

    //vertical padding
    .py-#{$space} {
        padding: #{$space}rem 0;
    }
}