main {
    width: 100%;
    height: 100%;
    min-height: fit-content;
    background-color: $white-color;
}

.overlay {
    background-color: $primary-color;
    opacity: 0.9;
    z-index: 2;
    min-height: 100%;
    min-width: 100%;
    position: absolute;

}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    min-height: 100vh;
    width: 100%;
    background-image: url('/dist/images/hero-img.jpg');
    opacity: 1;
    background-size: cover;

    &-text {
        width: 40%;
        height: fit-content;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.container {
    height: fit-content;
    width: 100%;
    background-color: $white-color;
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    align-items: center;
    justify-content: center;
}

.box {
    background-color: $primary-color;
    border-radius: 5px;
    padding: 3rem 4rem;
}

.about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: $white-color;

    &-heading {
        color: $feature-color;
    }

    &-img-container {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-img {
        width: 80%;

    }

    &-textarea {
        width: 40%;
        color: $primary-color;
    }
}


.work {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: fit-content;

    &-heading {
        color: $secondary-color;
        text-align: start;
        width: 100%;
        min-height: 100%;
        padding-left: 8%;
    }

    &-wrapper {
        display: grid;
        gap: 2.5rem;
        grid-template-columns: repeat(3, 1fr);
        height: 100%;
    }



    &-item {

        height: 200px;
        width: fit-content;
        overflow: hidden;

        &:hover {
            grid-row: span 2;
            overflow: visible;
        }
    }



    img {
        height: auto;
        width: 100%;
    }
}


.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: $white-color;


    .heading {
        color: $secondary-color;
        width: 100%;
        height: fit-content;
        text-align: start;
        padding-left: 8%;
    }

    .testimonial-container {
        display: flex;
        flex-direction: row;

        align-items: center;
        width: 100%;
        height: fit-content;
        min-height: 30vh;
        padding: 2rem 4rem;
        color: $primary-color;

        &:nth-child(odd) {
            flex-direction: row-reverse;
        }
    }

    .testimonial-logo {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 60%;
        }
    }

    .testimonial-text {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}



footer {
    width: 100%;
    height: 10vh;
    background-color: $primary-color;
    bottom: 0;
}