.nav{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    background-color: $primary-color;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    .left-logo{
        width: 10%;
    }
    &-links{
        display: flex;
        width: 40%;
        justify-content: space-between;
        list-style: none;
        text-align: center;
    }

    &-link{
        text-decoration: none;
        color: $white-color;
        font-weight: 600;
        transition: all ease-in-out 0.5s;

        &:hover{
            color: $secondary-color;
            transition: all ease-in-out 0.5s;
        }
    }
}